<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <h2 style="margin-left: 50px;">Login with Social Media</h2>
        <div class="col">
            <a th:href="@{'/facebooklogin'}" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
            </a>
            <a th:href="@{'/linkedinlogin'}" class="linkedin btn">
                <i class="fa fa-linkedin fa-fw"></i> Login with Linkedin
            </a>
            <a th:href="@{'/googlelogin'}" class="google btn">
                <i class="fa fa-google fa-fw"></i> Login with Google+
            </a>
        </div>
    </div>
</div>
</body>
</html>